@import "~bootstrap/scss/bootstrap-grid";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

// Sticky footer
html,
body,
#root {
  min-height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.header,
.footer {
  flex: none;
}

.main {
  flex: 1 0 auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #222222;
  line-height: 1.3;
  overflow-x: hidden;
}

input {
  font-family: 'Montserrat', sans-serif;
  display: block;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  text-align: left;
  color: #222222;
  padding: 0.7em 1em;
  border-radius: .3rem;
  border: 1px solid rgba(0,0,0,0.1);
  width: 100%;
  font-size: 1rem !important;
  font-weight: normal;

  &::-webkit-input-placeholder { opacity: 1; transition: opacity 0.3s ease; }
  &::-moz-placeholder { opacity: 1; transition: opacity 0.3s ease; }
  &:-moz-placeholder { opacity: 1; transition: opacity 0.3s ease; }
  &:-ms-input-placeholder { opacity: 1; transition: opacity 0.3s ease; }
  &:focus::-webkit-input-placeholder { opacity: 0; transition: opacity 0.3s ease; }
  &:focus::-moz-placeholder { opacity: 0; transition: opacity 0.3s ease; }
  &:focus:-moz-placeholder { opacity: 0; transition: opacity 0.3s ease; }
  &:focus:-ms-input-placeholder { opacity: 0; transition: opacity 0.3s ease; }
  &:active, &:hover, &:focus { outline: 0; outline-offset: 0; }
}

// Lists
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Images
img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

// Buttons
a.button,
button.button,
.button {
  padding: 1rem 2rem;
  background-color: blue;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.3rem;
  border: 2px solid blue;
  transition: color .2s ease-out, background-color .2s ease-out;
  cursor: pointer;
  margin-right: 2rem;
  font-family: 'Montserrat', sans-serif;

  &:hover {
    background-color: white;
    color: blue;
  }

  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 0.7rem 1.4rem;
  }
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}