.controls {
    &__wrap {
      background-color: rgba(0,0,0,.03);
      padding: 2rem;
      border-radius: 0.3rem;
      margin: 2rem 0 1rem;
      position: relative;
      display: flex;
      width: 100%;
    }

  &__title {
    padding: 0.3rem 0.7rem;
    background-color: white;
    border-radius: 0.3rem;
    font-weight: bold;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0.7rem, -50%);
    color: blue;
  }
}
