.header {
  padding: 5rem 0 3rem;

  h1 {
    text-align: left;
    font-size: 3rem;
  }

  h2 {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  &__paragraph {
    display: flex;
    margin: 0;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1rem;
    }
  }

  &__paragraph-caption {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.7;
    margin: 0;
    color: #555;
  }

  &__link {
    text-decoration: underline;
    margin-left: 0.5rem;
    color: blue;
    font-style: italic;
    word-break: break-word;

    &:hover {
      text-decoration: none;
    }

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  @media (max-width: 768px) {
    padding: 2rem 0;
  }

  &__subtitle {
    display: block;
    padding: 7px 0;
  }
}