.employees-list {
  &__item {

    &:nth-child(even) {
      background-color: rgba(0,0,0,.01);
    }

    a {
      color: #222222;
      text-decoration: none;
      transition: color .3s ease;
      display: inline-block;
      padding: 0.6rem;
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        height: 0;
        width: 100%;
        background-color: rgba(0,0,0,0);
        transition: all .3s ease-out;
        border-radius: 0.3rem;
      }

      &:hover {
        color: blue;

        &::before {
          height: 100%;
          top: 0;
          background-color: rgba(0,0,0,.03);
        }
      }
    }

    &_hide {
      display: none !important;
    }
    
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;

      td {
        &:nth-child(2) {
          padding: 0 0.6rem;
        }

        &:last-child {
          padding: 0.6rem;
          text-align: left;
        }
      }
    }
  }

  &__name {
    font-weight: bold;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }

  &__phone {
    text-align: right;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}